#ele_ctrl_right {
  width: 450px;
  height: 989px;
  background: url(../../../../assets/elevator/bg_1.png) no-repeat;
  position: absolute;
  padding: 38px 25px 0;
  top: 80px;
  right: 0;
  z-index: 1;
  @include notSelect;

  .ecr_title {
    background: url(../../../../assets/elevator/title.png) no-repeat;
    width: 100%;
    height: 37px;
    padding-top: 1.5px;

    h1 {
      color: #ffff;
      font-size: 20px;
      margin-left: 14px;
      letter-spacing: .7px;
    }
  }

  .content_top {
    .top_title {
      @extend .ecr_title;
    }

    .top_content {
      display: flex;
      margin-top: 15px;
      justify-content: center;
      align-items: center;

      .tc_left {
        margin-left: 5px;
        padding-top: 10px;
        text-align: center;
        position: relative;

        #dtChart {
          width: 84px;
          height: 84px;
          z-index: 2;
        }

        .bj_yuanquan {
          position: absolute;
          top: 27px;
          left: 16.5px;
          width: 50px;
          height: 50px;
          border-top: 2px solid #00A7CC;
          border-bottom: 2px solid #00A7CC;
          transform: rotate(45deg);
          border-radius: 50%;
          background: #005569;
          z-index: -1;
        }

        h3 {
          color: #fff;
          margin-top: 15px;
        }
      }

      .tc_right {
        margin-left: 10px;

        ul {
          display: flex;
          flex-wrap: wrap;

          li {
            color: #ffff;

            .card_top {
              width: 139px;
              height: 28px;
              line-height: 28px;
              text-align: center;
              font-size: 16px;

              span {
                font-size: 13px;
              }
            }
            
            #card_bg1{
              background: url(../../../../assets/elevator/card_bg.png) no-repeat;
            }
            #card_bg2{
              background: url(../../../../assets/elevator/card_bg2.png) no-repeat;
            }
            #card_bg3{
              background: url(../../../../assets/elevator/card_bg3.png) no-repeat;
            }
            #card_bg4{
              background: url(../../../../assets/elevator/card_bg4.png) no-repeat;
            }

            .card_num {
              width: 130px;
              height: 43px;
              background: rgba(45, 154, 178, 0.4);
              border: 1px solid rgba(0, 170, 207, .4);
              margin: 0 10px 10px 8px;

              span {
                position: absolute;
                font-size: 24px;
                font-weight: 400;
                color: #FFFFFF;
                display: inline-block;
                margin-left: 22px;
                letter-spacing: 1px;

              }
            }
          }
        }
      }
    }
  }

  .content_mid {
    margin-top: 20px;

    .mid_title {
      @extend .ecr_title;
    }

    .mid_echarts {
      margin-top: -30px;
      margin-left: -5px;

      #lineChart {
        width: 425px;
        height: 350px;
      }
    }
  }

  .content_btm {
    margin-top: -20px;

    .btm_title {
      @extend .ecr_title;
    }

    .btm_content {
      .tabTitle {
        background: url(../../../../assets/elevator/tab_bg.png) no-repeat;
        width: 384px;
        height: 38px;
        margin-top: 14px;

        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 17px;

          li {
            font-size: 18px;
            font-weight: 400;
            color: #4B7683;
            line-height: 38px;
            cursor: pointer;
            transition: all .2s;
          }

          .active {
            color: #fff;
          }
        }
      }

      .tabCotents {
        margin-top: 12px;
        margin-left: 2px;

        ul {
          li {
            width: 380px;
            height: 124px;
            background: rgba(16, 104, 123, 0.5);
            border: 1px solid #1189A3;
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .picture {
              margin-left: 4px;

              img {
                width: 200px;
                height: 114px;
                background: #10687B;
                border: 1px solid #00D1FF;
              }
            }

            .ele_details {
              margin-left: 13px;
              display: flex;
              flex-direction: column;

              span {
                color: #fff;
              }

              .suoyin {
                font-size: 18px;
                font-weight: 400;
                color: #FFFFFF;
              }

              .ele_d_num {
                font-size: 16px;
                font-weight: 400;
                color: #00C6F1;
              }

              .line {
                width: 150px;
                height: 1px;
                margin-top: 5px;
                background: #4B7683;
              }

              .ele_d_floorOrstatus {
                margin-top: 11px;
                display: flex;
                align-items: center;

                .ele_d_floor {
                  width: 56px;
                  height: 32px;
                  background: rgba(0, 170, 207, 0.27);
                  border-radius: 8px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-right: 15px;

                  img {
                    margin-right: 3px;
                  }

                  span {
                    font-size: 20px;
                  }
                }

                #status {
                  height: 100%;
                  font-size: 16px;
                  font-weight: normal;
                }

                .green {
                  color: #29FC65;
                }

                .red {
                  color: #FC4C29;
                }
              }
            }
          }
        }
      }
    }
  }
}